<!DOCTYPE html>
<html>
<head>
	<title>[title]</title>
	<style type="text/css">
		td {
		    width: 1px;
		    white-space: nowrap; /* 自适应宽度*/
		    word-break:  keep-all; /* 避免长单词截断，保持全部 */

		}
		th {
			font-weight: bold;
			line-height: 20px;
			border-top-width: 1px;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-left-width: 1px;
			border-bottom-style: solid;
			color: #333333;
			background-color: f6f6f6;
			white-space: nowrap; /* 自适应宽度*/
			word-break:  keep-all; /* 避免长单词截断，保持全部 */
		}

	</style>
	<metaname="viewport"content="width=device-width,initial-scale=1">
</head>
<body>
<table width="100%">
	<tr>
	<td>
		<table width="100%"  cellpadding="3" cellspacing="8" align="left">
			<tr><th colspan="3" align="left">生成激活码</th>
			<form action="__URL__/getVerify" method="get">
			<tr>
			<td width="40%"><label>数量:</label><input type="text" name="number" value="100"  /> </td>
			<td width="40%"><label>渠道商:</label><input type="text" name="seller" value=""  /> </td>
			<td><input type="submit" name="submit" value="生成" /></td>
			</tr>
			
			</form> 
		</table>
	</td>
	<td>
		<table width="100%"  cellpadding="3" cellspacing="8" align="left">
			<tr><th colspan="6" align="left">激活码列表</th>
			
			<tr>
			<form action="__URL__/unverifyList" method="get">
			<td><label>数量:</label><input type="text" size='12' name='number' value="100" /><br><input type="submit" name="searcher" value="        未激活列表        " /></td>
			</form>

			<form action="__URL__/verifyedList" method='get'>
				<td><label>数量:</label><input type="text" size='12' name='number' value="100" /><br><input type="submit" name="allbook" value="        已激活列表        " /></td>
			</form>

			<form action="__URL__/allVerfiy" method='get'>
				<td><label>数量:</label><input type="text" size='12' name='number' value="100" /><br><input type="submit" name="allbook" value="        全部激活码        " /></td>
			</form>

			<form action="__URL__/undistribute" method='get'>
				<td><label>数量:</label><input type="text" size='12' name='number' value="100" /><br><input type="submit" name="allbook" value="      未销售激活码      " /></td>
			</form>

			<form action="__URL__/distribute" method='get'>
				<td><label>数量:</label><input type="text" size='12' name='number' value="100" /><br><input type="submit" name="allbook" value="      已销售激活码      " /></td>
			</form>
			<form action="__URL__/search" method='get'>
				<td><label>激活码:</label><input type="text" size='12' name='number' value="vomU66PZ" /><br><input type="submit" name="allbook" value="      查询激活码      " /></td>
			</form>
			</tr>
			
				 
		</table>
	</td>

	<td>
		<table width="100%"  cellpadding="3" cellspacing="8" align="left">
			<tr><th colspan="5" align="left">操作</th>
			<tr>
				<td style='color:#F00' colspan="5" size='6'>*说明：操作起始ID到终止ID之间的数字<br>如果只是单纯的操作一个，起始ID设置为-1，终止ID设置为要操作的ID</td>
			</tr>
			
			<tr>

			<form action="__URL__/removeCode" method="get">
			<td><label>起始ID:</label><input type="text" size='12' name='startId' value="-1" /><br><label>终结ID:</label><input type="text" size='12' name='endId' value="-1" /><br><input type="submit" name="searcher" value="          删除激活码          " /></td>
			</form>

			<form action="__URL__/sellCode" method='get'>
				<td><label>起始ID:</label><input type="text" size='12' name='startId' value="-1" /><br><label>终结ID:</label><input type="text" size='12' name='endId' value="-1" /><br><label>渠道商:</label><input type="text" size='12' name='seller' value="未知" /><br><input type="submit" name="sellCode" value="        销售激活码        " /></td>
			</form>

			
			</tr>
			
				 
		</table>
	</td>
	</tr>
</table>


	